{% extends "MPUserBundle::layout.html.twig" %}
{% block body %}



<div class="col-md-12">
    <div class="well">
   Vous avez {{ app.user.bon }} bons
    {{ app.user.mail }}

    <ul>vous proposez:
        {% for comps in comp %}
            {{ comps.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </ul>
    </div>
</div>
<div class="col-md-6">
    <div class="well">
    <ul>vous avez des demandes de :
        {% for demande in demandes %}
                {% for user in demande.requester %}
                   <li> {{ user.username }}
                pour:
                {% for competence in demande.competence %}
                    {{ competence.name }}
                    <p><a href="{{ path('mp_comp_addSession', {'id': user.id, 'compId': competence.id, 'demId': demande.id}) }}"  class="btn btn-xs btn-primary" role="button">Créer une session</a></li>
        {% endfor %}
                {% endfor %}
        {% endfor %}
    </ul>
    </div>
</div>
<div class="col-md-6">
    <div class="well">
    <ul><p>vous avez fait des demandes pour:</p>
        {% for demande in demandeFait %}

                {% for competence in demande.competence %}
                    {{ competence.name }}
                {% endfor %}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    </ul>
    </div>
</div>
<div class="col-md-6">
    <div class="well">
    <ul>Sessions :
        {% for sessions in session %}
            <li>{{ sessions.competence.name}} 
                {% if prof.adresse.code.null is defined %}
                    avec
                    {% for user in sessions.lerners %}
                        {{ user.username}}
                    {% endfor %}
                {% endif %}
             <p><a href="{{ path('mp_comp_viewSession', {'id': sessions.id}) }}" class="btn btn-xs btn-primary" role="button" title="En savoir +">En savoir +</a></li>
        {% endfor %}
    </ul>
    </div>
</div>
<div class="col-md-6">
    <div class="well">
    <ul>Sessions prévues:
        {% for sessions in session2 %}
                <li>{{ sessions.competence.name}}
       <p><a href="{{ path('mp_comp_viewSession', {'id': sessions.id}) }}" class="btn btn-xs btn-primary" role="button" title="En savoir +">En savoir +</a></li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}    